[submodule "xenbus"]
	path = xenbus
	url = https://github.com/OpenXT/xenbus.git
	branch = openxt-staging-9.0
[submodule "xenvusb"]
	path = xenvusb
	url = https://github.com/OpenXT/xenvusb.git
	branch = master
[submodule "xenusbdevice"]
	path = xenusbdevice
	url = https://github.com/OpenXT/xenusbdevice.git
	branch = master
[submodule "ivc"]
	path = ivc
	url = https://gitlab.com/ericch/ivc.git
	branch = troy-winbuild
[submodule "pv-display-helper"]
	path = pv-display-helper
	url = https://gitlab.com/ericch/pv-display-helper.git
	branch = troy-winbuild
[submodule "glasswddm"]
	path = glasswddm
	url = https://gitlab.com/ericch/glasswddm.git
	branch = 9.0.0-unify
[submodule "xencons"]
	path = xencons
	url = https://github.com/OpenXT/xencons.git
	branch = openxt-staging-9.0
[submodule "xenhid"]
	path = xenhid
	url = https://github.com/OpenXT/xenhid.git
	branch = openxt-staging-9.0
[submodule "xeniface"]
	path = xeniface
	url = https://github.com/OpenXT/xeniface.git
	branch = openxt-staging-9.0
[submodule "xennet"]
	path = xennet
	url = https://github.com/OpenXT/xennet.git
	branch = openxt-staging-9.0
[submodule "xenvbd"]
	path = xenvbd
	url = https://github.com/OpenXT/xenvbd.git
	branch = openxt-staging-9.0
[submodule "xenvif"]
	path = xenvif
	url = https://github.com/OpenXT/xenvif.git
	branch = openxt-staging-9.0
[submodule "xenvkbd"]
	path = xenvkbd
	url = https://github.com/OpenXT/xenvkbd.git
	branch = openxt-staging-9.0
